body {
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #282c34;
  color: #61dafb;
}

.center-text {
  text-align: center;
  color: #61dafb;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #282c34;
  color: #61dafb;
}
